@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

$main: #000;
$white: #fff;
$lightgrey: hsl(0, 0%, 96.1%);

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "ABeeZee", sans-serif;
}

body {
	background: $lightgrey;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	h1 {
		font-size: 1.8em;
	}
}

.spanning2 {
	.sol2 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		padding: 20px 5px;
		gap: 6px;
	}
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		gap: 6px;
		width: 100%;
		p {
			font-size: 1.2em;
		}
		.input-dis {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 6px;
			input {
				display: block;
				width: 40px;
				height: 40px;
				border: 2px solid red;
			}
		}
	}
}
